<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barra de navegación</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <nav class="navbar">
        <div class="logo">
            <a href="/index">
                <img src="images/v1.png" alt="Logotipo">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="#">Realizar reporte</a></li>
            <li><a href="#">Revisar reportes</a></li>
            <li><a href="#">Perfil</a></li>
            <li><a href="contact.php">Contacto</a></li>


        </ul>

    </nav>


    <div class="containermenu">

        <section id="hero" class="barralateral">
            <div class="center">
                <button class="button" id="usermod">
                    <div><img src="images/ubicacion.png" width=18px, height="25px" class="logo-button"
                            alt="Logo-button"></div>
                    <span class="text-button">Usuario:<br>Rol:</span>

                </button>
                <button class="btn" id="mod" onclick="location.href='/vusuarios'">Usuarios</button>
                <button class="btn" id="mod" onclick="location.href='/vreportes'">Reportes</button>
                <button class="btn" id="mod" onclick="location.href='/mensajes'">Mensajes</button>
            </div>

        </section>





        <section id="mapa" class="map">
            <main>
                <div class="helpe">
                    REPORTES
                </div>
                <div class="helper2">
                    {{#each tasks}}
                    <form action="" method="POST">
                        <h1>{{id_reporte}}</h1>
                        <h1>{{descripcion}}</h1>
                        <h1>{{fecha}}</h1>
                    </form>
                    {{/each}}


                </div>
            </main>
        </section>
    </div>




</body>

</html>