<%- include('partials/_header')%>
<section id="navegacionmod">
    <ul>
        <h1>
            <li>
                <a href="/pantallaModeracion">
                <img src="/images/v.svg" alt="logo">
                </a>
            </li>
            <li>
                <a href="/pantallaModeracion">
                    Vialidolid<br>denuncias ciudadanas
                </a>
            </li>
        </h1>
        <div class="botonesmod">
            <li>
                <a href="#">Perfil</a>
            </li>
            <li>
                <a href="/pantallaMenuPrincipal">Cerrar Sesion</a>
            </li>
        </div>

    </ul>
</section>


<section id="contenidogeneral">
    <article>
        <div class="barralateral">
        <div class="botoneslateral">
     <h1>
        <span>
            <img src="/images/imagenperfil.svg">
            <p>Usuario: <%=session.usuario%></p>
            <p>Rol: <%=session.cargo%></p>
        </span>
    </h1>

        <a href="/pantallaReportesRevisados">
            Reportes En Atencion
        </a>

        <a href="/pantallaReportesEntrantes">
            Reportes entrantes
        </a>
    </div>
    </div>
    

    <div class="contenido">
        <div class="contenidomoderacion">
            <p>
                Bienvenido al panel de moderador
            </p>
            <p>
                Esta es la seccion del moderador, desde aquí podrá consultar y revisar los reportes entrantes, agradecemos su cooperación.
            </p>
        </div>
    </div>
    </article>
</section>



<%- include('partials/_footer')%>