<!-- De esta manera incluimos el header desde el documento partials -->
<%-   include('partials/_header') %> 
    
<section id="navegacionmod">
    <ul>
        <h1>
            <li>
                <a href="/pantallaMenuPrincipal">
                <img src="/images/v.svg" alt="logo">
                </a>
            </li>
            <li>
                <a href="/pantallaMenuPrincipal">
                    Vialidolid<br>denuncias ciudadanas
                </a>
            </li>
        </h1>
        <div class="botonesmod">
        <li>
            <a href="#">Empleados</a>
        </li>
        <li>
            <a href="#">Dependencias</a>
        </li>
        <li>
            <a href="#">Perfil</a>
        </li>
        </div>

    </ul>
</section>


<section id="contenidogeneral">
    <article>
        <div class="barralateral">
        <div class="botoneslateral">
     <h1>
        <span>
            <img src="/images/imagenperfil.svg">
            <p>Usuario:</p>
            <p>Rol:</p>
        </span>
    </h1>

        <a href="#">
            Usuarios
        </a>

        <a href="#">
            Reportes
        </a>

        <a href="#">
            Mensajes
        </a>
    </div>
    </div>
    

    <div class="contenido">
        <p>Bienvenido</p>
    </div>
    </article>
</section>



<%- include('partials/_footer') %> 
