<!-- De esta manera incluimos el header desde el documento partials -->
<%-   include('partials/_header') %> 
    
<section id="navegacionmod">
    <ul>
        <h1>
            <li>
                <a href="/pantallaMenuPrincipal">
                <img src="/images/v.svg" alt="logo">
                </a>
            </li>
            <li>
                <a href="/pantallaMenuPrincipal">
                    Vialidolid<br>denuncias ciudadanas
                </a>
            </li>
        </h1>
        <div class="botonesmod">
        <li>
            <a href="#">Empleados</a>
        </li>
        <li>
            <a href="#">Dependencias</a>
        </li>
        <li>
            <a href="#">Perfil</a>
        </li>
        </div>

    </ul>
</section>


<section id="contenidogeneral">
    <article>
        <div class="barralateral">
        <div class="botoneslateral">
     <h1>
        <span>
            <img src="/images/imagenperfil.svg">
            <p>Usuario:</p>
            <p>Rol:</p>
        </span>
    </h1>

        <a href="#">
            Usuarios
        </a>

        <a href="#">
            Reportes
        </a>

        <a href="#">
            Mensajes
        </a>
    </div>
    </div>
    

    <div class="contenido">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, 
           when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap 
           into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
            and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </div>
    </article>
</section>



<%- include('partials/_footer') %> 
