<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Título de tu aplicación</title>
    <link rel="stylesheet" href="/style.css">
    <!-- Este script nos permite vincular nuestro kit de font awesome para poder hacer referencia mediante el id y usar los iconos -->
    <script src="https://kit.fontawesome.com/f128dca28b.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Contenido de tu aplicación -->
    <%- body %> <!-- Aquí se insertará el contenido específico de cada vista -->
</body>
</html>
